a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

button {
	color: #161616 !important;
}

button:focus, button:active {
	outline: none !important;
	box-shadow: none !important;
}

button:hover {
	color: #818181 !important;
}

.postDiv {
	position: relative;
}

.topArrow {
	position: absolute;
	bottom: 114%;
	left: 4.75rem;
}

.downArrow {
	position: absolute;	
	top: 120%;
	left: 4.75rem;
}

.voteScore {
	margin-left: 3.6rem;
}

.postContainer {
	border: 2px solid yellow !important;
	padding: 3rem 0;
}