html, body {
    max-width: 100%;
    overflow-x: hidden;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

button {
	color: #161616 !important;
}

button:focus, button:active {
	outline: none !important;
	box-shadow: none !important;
}

button:hover {
	color: #818181 !important;
}

.iconDiv {
	position: relative;
}

.topArrow {
	position: absolute;
	bottom: 114%;
	left: 4.75rem;
}

.downArrow {
	position: absolute;	
	top: 105%;
	left: 4.75rem;
}

.voteScore {
	margin-left: 3.6rem;
}

.voteScoreNegative {
	margin-left: 3.2rem;
}

.postContainer {
	padding: 3rem 0;
	background-color: #e6e6e6;
}

.titleDiv {
	margin-top: -3.5rem;
}

.listTitle {
	margin: 1.4rem 0 0 6rem;
	font-size: 1.5rem;
	display: inline-block;
}

.listTitle:hover {
	color: #778899;
}

.categoryDiv {
	font-size: 1.2rem;	
	margin: .75rem 0 0 6rem;
	display: block;
}

.category, .date, .author {
	margin-right: 1.75rem;
}

@media (min-width: 768px) {
	.titleDiv {
		margin-top: -1.35rem;
	}	
	
	.listTitle {
		margin: 0 0 .75rem 1.15rem;
		font-size: 2.15rem;
		display: inline-block;
	}
	
	.categoryDiv {
		font-size: 1.35rem;	
		margin: 0 0 .75rem 1.15rem;
	}
	
	.voteScore, .voteScoreNegative {
		font-size: 1.65rem;
	}
	
	.iconDiv {
		margin-top: .75rem;
	}	
}

@media (min-width: 1024px) {
	.listTitle {
		font-size: 2.45rem;
	}	
	.categoryDiv {
		font-size: 1.5rem;	
	}
	
	.iconDiv {
		margin-top: 1rem;
	}
}